@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Playfair Display', 'Raleway';
    color:whitesmoke;
}
/* Page Colours */
#homepage {
    background:linear-gradient(#EAA303 40%,#1E142E 80%);
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow:1;
}
#page-colour {
    background:linear-gradient(
        #1E142E 20%,
        #451C44 50%,
        #1E142E 95%);
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow:1;
}
/* Universal Page format*/
header {
    position:fixed;
    width:100vw;
    z-index:100;
}
.logo-pic {
    width:7%;
    height:auto;
    position:absolute;
    left:5%;
    margin:0;
    padding:0;
}
#heading {
    background-repeat:no-repeat;
    background-size: cover;
    height: 80vh;
    clip-path:ellipse(99% 100% at top);
}
h1 {
    text-align: center;
    font-size: 7rem;
    padding-top:10vh;
    color:whitesmoke;
    text-shadow: 0 0 10px black;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2rem;
}
.intro {
    padding: 6rem 4rem 0 4rem;   
}
p {
    padding:0 3rem;
    text-shadow: 0 0 10px black;
}
.title-subheading {
    text-align: center;
    margin-top:2rem;
    font-style: italic;
    font-size: 1.25rem;
    color:whitesmoke;
}
hr {
    margin:4rem;
    border:1px solid hsl(0, 0%, 75%, 40%);
}
.heading-link {
    font-size: 0.6rem;
    font-style: italic;
    padding-top:1rem;
    text-align: center;
    text-shadow: 0 0 10px black;
}
figcaption {
    font-style: italic;
    font-size: 0.8rem;
}

/* Homepage and column types */

#article-list {
    display:grid;
    grid-template-columns: 1fr minmax(150px,1fr); 
    align-items: center;
    padding-top:1rem;
}
.col-two, .col-one{
   text-align: center;
   padding:1rem 4rem;
}
.col-two {

    position:relative;
    margin:1rem;
}
.col-two-text {
    position:absolute;
    left:0;
    right:0;
    top:30%;
    margin-inline:auto;
    width:fit-content;
}
.col-two-image img {
    height:30%;
    width:100%;
    border-radius: 20%/60%;
    object-fit:cover;
    overflow: hidden;
    filter:brightness(60%);
}
.col-two:hover {
    filter:brightness(150%);
}
.full-span, hr {
    grid-column:1 /3;
    text-align: center;
}

/* Stories Formatting */
#article-stories {
    align-items: center;
    padding-top:1rem;
    text-align: center;
}
.stories-video {
    width:60%;
    height:60%;
    object-fit:cover;
}
.stories-text {
    padding:2rem 20rem;
}

/* Navigation */
#top-nav {
    font-size: 1.25rem;
    margin:0 20rem;
    display:flex;
    position:sticky;
    top:0;
}
#bottom-nav {
    display:flex;
    justify-content:center;
    font-size: 1.1rem;
    margin:4rem 20rem 2rem 20rem;
    padding:3rem;
    overflow: hidden;
}
a {
    text-decoration: none;
    color:whitesmoke;
}
nav a {
    padding:1rem;
    height:1rem;
    margin:0 auto;
    text-align: center;
    color:whitesmoke;
    font-weight: bold;
}
a:hover {
    color:#1E142E;
    text-shadow: 0 0 10px #EAA303;
}
a:active {
    text-decoration: underline;
    text-decoration-color:#1E142E;
    text-shadow: 0 0 10px #EAA303;   
}
footer a:hover, header a:hover {
    color:#EAA303;
    text-shadow: 0 0 10px #EAA303;
    font-weight: bold;
}
footer a:active, header a:active {
    text-decoration: underline;
    text-decoration-color:#EAA303;
    text-shadow: 0 0 10px #EAA303;   
}
.youtube-logo {
    color:red;
    font-weight: bold;
}
.youtube-logo:hover {
    color:red;
    text-shadow: 0 0 10px red;
    font-weight: bold;
}
.youtube-logo:active {
    text-decoration: underline;
    text-decoration-color:red;
    text-shadow: 0 0 10px red;   
}
.featured {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
    grid-column:1 /3;
    text-align: center;
    position:relative;
}
.triple-image img {
    height:20%;
    width:100%;
    border-radius: 20%/60%;
    object-fit:cover;
    overflow: hidden;
    filter:brightness(60%);
    margin:0;
    padding:0;
}
.oversized {
    font-size: 1.8rem;
}
.white-back {
    background-color: white;
}
.white-back h3 {
    color:black;
}